{% extends "base.html" %}

{% block title %}
    Lista Categorias - {{block.super}}
{% endblock title %}

{% block body %}
<br>
<b>Lista de Categorias</b>
<br>
<br>

<table border="1">
    <thead>
        <tr>
            <th scope='col'>ID</th>
            <th scope='col'>Nome</th>
            <th scope='col'>Descrição</th>
        </tr>
    </thead>

    <tbody>
        {% for category in categories %}
            <tr>
                <th>{{category.id}}</th>
                <th>{{category.name}}</th>
                <th>{{category.description}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock body %}

