{% extends 'base.html' %}

{% block title %}
  Lista de Redes Sociais - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <a href="{% url 'socialnetworks:add_socialnetwork' %}">Cadastro de nova Rede Social</a>
  <br />
  <br />
  <b>Lista de Redes Sociais</b>
  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% for rede in redes %}
        <tr>
          <th>{{ rede.id }}</th>
          <td>{{ rede.name }}</td>
          <td>{{ rede.description }}</td>
          <td>
            <a href="{% url 'socialnetworks:edit_socialnetwork' rede.id %}">Editar</a>
          </td>
          <td>
            <a href="{% url 'socialnetworks:delete_socialnetwork' rede.id %}">Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
