{% extends 'base.html' %}

{% block title %}
  Adicionar Categoria - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <b>Cadastro de Categoria</b>
  <br />
  <br />
  <form action="" method="POST">
    {% csrf_token %}
    <label>Primeiro Nome:</label>
    <br />
    {{ form.first_name }}
    <br />
    <br />
    <label>Sobrenome:</label>
    <br />
    {{ form.last_name }}
    <br />
    <br />

    <br />
    <br />
    <label>Endereço:</label>
    <br />
    {{ form.address }}
    <br />
    <br />

    <br />
    <br />
    <label>Telefone:</label>
    <br />
    {{ form.cell_phone }}
    <br />
    <br />

    <br />
    <br />
    <label>email:</label>
    <br />
    {{ form.email }}
    <br />
    <br />

    <br />
    <br />
    <label>Gênerp:</label>
    <br />
    {{ form.gender }}
    <br />
    <br />
    <button type="submit">Salvar</button>
  </form>
{% endblock %}